.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

ul {
    padding: 20px;
    border: 1px solid black;
    width: 200px;
    min-height: 120px;
}

ul li {
    cursor: pointer;
    list-style: none;
    padding: 10px;
}

ul li:hover {
    background-color: tomato;
}

.cart-wrapper {
    float: left;
    margin-left: 20px;
}

.products-wrapper {
    float: left;
}
